body{
    /* border: solid 1px red; */
}
.center-heading {
    text-align: center;

}


.img-size {
    width: auto;
    height: 300px;
    transition: all 0.25s ease-in-out;
}


.img-size:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
    border-style: outset;
    border-width: thick;
    border-color: greenyellow;
}

/* .img-size:active {
    transform: translate(0, -100px);
    opacity: 0;
} */